<launch>
  <arg name="start_unitree_driver" default="true" />
  <arg name="start_arduino_sensor_node" default="true" />

  <arg
    name="unitree_params_file"
    default="$(find-pkg-share unitree_ros)/config/params.yaml" />
  <arg
    name="arduino_params_file"
    default="$(find-pkg-share enc_lc)/config/params.yaml" />
  <arg
    name="predictor_params_file"
    default="$(find-pkg-share laica_bringup)/config/velocity_predictor_params.yaml" />

  <arg name="wifi" default="false" />
  <arg name="unitree_robot_ip" default="192.168.123.161" />
  <arg name="enable_battery_check" default="true" />
  <arg name="arduino_port" default="/dev/ttyACM0" />
  <arg name="arduino_baud" default="115200" />
  <arg name="arduino_publish_rate" default="100.0" />
  <arg name="load_cell_topic_name" default="/load_cell/data" />
  <arg name="encoder_topic_name" default="/encoder/data" />
  <arg name="switch_topic_name" default="/switch/data" />
  <arg name="robot_odom_topic_name" default="/odom" />
  <arg
    name="load_cell_calibration_done_topic_name"
    default="/load_cell/calibration_done" />
  <arg name="load_cell_startup_calibration_sec" default="5.0" />
  <arg name="predicted_cmd_vel_topic_name" default="/cmd_vel" />
  <arg name="predictor_publish_rate" default="50.0" />
  <arg name="sensor_qos_reliability" default="best_effort" />
  <arg name="load_cell_input_field" default="force_n" />
  <arg name="admittance_enabled" default="true" />
  <arg name="require_encoder" default="false" />
  <arg name="require_robot_odom" default="true" />
  <arg name="require_load_cell_calibration_done" default="true" />
  <arg name="force_deadband_n" default="5.0" />
  <arg name="force_filter_tau_sec" default="0.15" />
  <arg name="force_velocity_sign" default="1.0" />
  <arg name="admittance_mass" default="20.0" />
  <arg name="admittance_damping" default="80.0" />
  <arg name="base_velocity_mps" default="0.5" />
  <arg name="min_velocity_mps" default="-1.0" />
  <arg name="max_velocity_mps" default="1.0" />
  <arg name="max_accel_mps2" default="0.50" />
  <arg name="sensor_timeout_sec" default="0.25" />
  <arg name="robot_odom_timeout_sec" default="0.50" />
  <arg name="stop_switch_enabled" default="true" />

  <include
    file="$(find-pkg-share unitree_ros)/launch/unitree_driver_launch.py"
    if="$(var start_unitree_driver)">
    <arg name="params_file" value="$(var unitree_params_file)" />
    <arg name="wifi" value="$(var wifi)" />
    <arg name="robot_ip" value="$(var unitree_robot_ip)" />
    <arg name="enable_battery_check" value="$(var enable_battery_check)" />
  </include>

  <include
    file="$(find-pkg-share enc_lc)/launch/sensors.launch"
    if="$(var start_arduino_sensor_node)">
    <arg name="params_file" value="$(var arduino_params_file)" />
    <arg name="port" value="$(var arduino_port)" />
    <arg name="baud" value="$(var arduino_baud)" />
    <arg name="publish_rate" value="$(var arduino_publish_rate)" />
    <arg name="load_cell_topic_name" value="$(var load_cell_topic_name)" />
    <arg name="encoder_topic_name" value="$(var encoder_topic_name)" />
    <arg name="switch_topic_name" value="$(var switch_topic_name)" />
    <arg
      name="load_cell_calibration_done_topic_name"
      value="$(var load_cell_calibration_done_topic_name)" />
    <arg
      name="load_cell_startup_calibration_sec"
      value="$(var load_cell_startup_calibration_sec)" />
  </include>

  <node
    pkg="laica_bringup"
    exec="laica_velocity_predictor"
    name="laica_velocity_predictor"
    output="screen">
    <param from="$(var predictor_params_file)" />
    <param name="load_cell_topic_name" value="$(var load_cell_topic_name)" />
    <param name="encoder_topic_name" value="$(var encoder_topic_name)" />
    <param name="switch_topic_name" value="$(var switch_topic_name)" />
    <param name="robot_odom_topic_name" value="$(var robot_odom_topic_name)" />
    <param
      name="load_cell_calibration_done_topic_name"
      value="$(var load_cell_calibration_done_topic_name)" />
    <param name="predicted_cmd_vel_topic_name" value="$(var predicted_cmd_vel_topic_name)" />
    <param name="publish_rate" value="$(var predictor_publish_rate)" />
    <param name="sensor_qos_reliability" value="$(var sensor_qos_reliability)" />
    <param name="load_cell_input_field" value="$(var load_cell_input_field)" />
    <param name="admittance_enabled" value="$(var admittance_enabled)" />
    <param name="require_encoder" value="$(var require_encoder)" />
    <param name="require_robot_odom" value="$(var require_robot_odom)" />
    <param
      name="require_load_cell_calibration_done"
      value="$(var require_load_cell_calibration_done)" />
    <param name="force_deadband_n" value="$(var force_deadband_n)" />
    <param name="force_filter_tau_sec" value="$(var force_filter_tau_sec)" />
    <param name="force_velocity_sign" value="$(var force_velocity_sign)" />
    <param name="admittance_mass" value="$(var admittance_mass)" />
    <param name="admittance_damping" value="$(var admittance_damping)" />
    <param name="base_velocity_mps" value="$(var base_velocity_mps)" />
    <param name="min_velocity_mps" value="$(var min_velocity_mps)" />
    <param name="max_velocity_mps" value="$(var max_velocity_mps)" />
    <param name="max_accel_mps2" value="$(var max_accel_mps2)" />
    <param name="sensor_timeout_sec" value="$(var sensor_timeout_sec)" />
    <param name="robot_odom_timeout_sec" value="$(var robot_odom_timeout_sec)" />
    <param name="stop_switch_enabled" value="$(var stop_switch_enabled)" />
  </node>
</launch>
